TELEGRAM_BOT_TOKEN=<your_token>
ADMIN_IDS=<admin_accounts_id>

# DB Engine : 'local' or 'mongodb'(cloud)
DB_ENGINE=local
# Paste Mongo URI here if using cloud (leave empty if using 'local')
MONGODB_URI=